<template>
<div>
    <v-layout class="title">
        <v-icon medium @click="$router.push({path: '/'})">
            arrow_back
        </v-icon>
        <h2 class="route-title">Cập nhật</h2>
    </v-layout>
    <v-card>
        <v-form ref="form" v-model="valid" lazy-validation>
            <v-container>
                <v-layout>
                    <v-flex lg6>
                        <v-text-field v-model="items.name" :counter="50" :rules="nameRules" label="Tên quảng cáo" required></v-text-field>
                    </v-flex>
                    <v-flex lg6>
                        <v-select v-model="selectType" :items="dataCampaign.types" :rules="rules" label="Loại quảng cáo" required></v-select>
                    </v-flex>
                </v-layout>

                <v-layout>
                    <v-flex lg6>
                        <v-text-field v-model="items.created_by" label="Người tạo" disabled></v-text-field>
                    </v-flex>
                    <v-flex lg6>
                        <v-text-field v-model="items.updated_by" label="Người sửa" disabled></v-text-field>
                    </v-flex>
                </v-layout>

                <v-layout>
                    <v-flex>
                        <v-textarea v-model="items.content" rows='2' label="Nội dung" :rules="rules" required></v-textarea>
                    </v-flex>
                    <!-- <v-flex lg6>
                        <v-select v-model="selectActive" :items="isActive" :rules="rules" label="Trạng thái hoạt động" required></v-select>
                    </v-flex> -->
                </v-layout>

                <v-layout>
                    <v-flex lg6>
                        <v-select v-model="items.url" :items="dataCampaign.urls" :rules="rules" label="Dịch vụ quảng cáo" item-value="value" item-text="name" required></v-select>
                    </v-flex>
                    <v-flex lg6>
                        <v-select v-model="items.trial" :items="dataCampaign.trials" label="Trial" item-value="value" item-text="name" required></v-select>
                    </v-flex>
                </v-layout>
                <v-layout>
                    <v-flex lg6>
                        <v-text-field v-model="items.show_in_el" label="Show in el" :rules="rules" required></v-text-field>
                    </v-flex>
                    <v-flex lg6>
                        <v-combobox v-model="editGA" :items="dataGa" label="Google Analytic" item-text="name" item-value="_id" :search-input.sync="ga" no-filter :rules="rules" required>
                        </v-combobox>
                    </v-flex>
                </v-layout>

                <v-layout>
                    <v-flex lg4>
                        <v-menu ref="menu1" v-model="menu1" :close-on-content-click="false" :nudge-right="40" lazy transition="scale-transition" offset-y full-width max-width="290px" min-width="290px">
                            <template v-slot:activator="{ on }">
                                <v-text-field readonly v-model="dateFormatStarted" label="Thời gian bắt đầu" :rules="rules" @blur="date = parseDate(dateFormatStarted)" v-on="on" required></v-text-field>
                            </template>
                            <v-date-picker v-model="date" no-title @input="menu1 = false; dateStart()"></v-date-picker>
                        </v-menu>
                    </v-flex>
                    <v-flex lg2>
                        <v-menu ref="menu2" v-model="menu2" :close-on-content-click="false" :nudge-right="40" :return-value.sync="time" lazy transition="scale-transition" offset-y full-width max-width="290px" min-width="290px">
                            <template v-slot:activator="{ on }">
                                <v-text-field v-model="time" label="Time" readonly v-on="on"></v-text-field>
                            </template>
                            <v-time-picker v-if="menu2" v-model="time" full-width @click:minute="$refs.menu2.save(time);timeStart()"></v-time-picker>
                        </v-menu>
                    </v-flex>
                    <v-flex lg4>
                        <v-menu ref="menu3" v-model="menu3" :close-on-content-click="false" :nudge-right="40" lazy transition="scale-transition" offset-y full-width max-width="290px" min-width="290px">
                            <template v-slot:activator="{ on }">
                                <v-text-field readonly v-model="dateFormatExpired" label="Thời gian kết thúc" :rules="rules" @blur="date2 = parseDate(dateFormatExpired)" v-on="on" required></v-text-field>
                            </template>
                            <v-date-picker :min="date" v-model="date2" no-title @input="menu3 = false; dateExpired()"></v-date-picker>
                        </v-menu>
                    </v-flex>
                    <v-flex lg2>
                        <v-menu ref="menu4" v-model="menu4" :close-on-content-click="false" :nudge-right="40" :return-value.sync="time2" lazy transition="scale-transition" offset-y full-width max-width="290px" min-width="290px">
                            <template v-slot:activator="{ on }">
                                <v-text-field v-model="time2" label="Time" readonly v-on="on"></v-text-field>
                            </template>
                            <v-time-picker v-if="menu4" :min="setTimeMin" v-model="time2" full-width @click:minute="$refs.menu4.save(time2)"></v-time-picker>
                        </v-menu>
                    </v-flex>
                </v-layout>

                <v-layout>
                    <v-flex lg6>
                        <v-text-field v-model="items.close_content" label="Close content" :rules="rules" required></v-text-field>
                    </v-flex>
                    <v-flex lg6>
                        <v-select :disabled="isToolTips" v-model="items.position" :items="dataCampaign.positions" item-value="value" item-text="name" label="Vị trí quảng cáo"></v-select>
                    </v-flex>
                </v-layout>
                <v-card-actions>
                    <v-spacer />
                    <v-btn :disabled="!valid" color="info" @click="handleUpdate">
                        Cập nhật
                    </v-btn>
                </v-card-actions>
            </v-container>
        </v-form>

    </v-card>
    <notifications />
</div>
</template>

<script>
import {
    updateCampaign,
    fetchCampaignDetail,
    fetchData
} from '@/api/campaign'
import {
    fetchListPerPage
} from '@/api/googleanalytics'
import moment from 'moment'
import {
    parse
} from 'path';
export default {
    data: () => ({
        valid: true,
        rules: [v => (!!v) || 'Không được bỏ trống trường này!'],
        nameRules: [
            v => !!v || 'Không được bỏ trống trường này!',
            v => (v && v.length <= 50) || 'Tên phải ít hơn 50 kí tự'
        ],
        selectType: null,
        selectActive: null,
        isActive: ['Hoạt động', 'Tạm dừng'],
        isToolTips: true,
        loading: true,
        dataCampaign: {},
        dataGa: [],
        dateFormatStarted: '',
        date: '',
        menu1: false,
        time: '',
        menu2: false,
        dateFormatExpired: '',
        date2: '',
        menu3: false,
        time2: '',
        menu4: false,
        items: {
            name: '',
            type: null,
            content: '',
            url: null,
            trial: 0,
            started_at: '',
            expired_at: '',
            show_in_el: '',
            position: 'popover-bottom',
            close_content: 'OK!',
            ga: '',
            created_by: '',
            updated_by: '',

        },
        editGA: '',
        ga: ''
    }),
    methods: {
        dateStart() {
            this.time = null
            if (this.date.valueOf() > this.date2.valueOf()) {
                this.dateFormatExpired = null
            }
        },
        dateExpired() {
            this.time2 = null
            if (this.date === this.date2) {
                this.setTimeMin = this.time
            } else {
                this.setTimeMin = null
            }
        },
        timeStart() {
            this.time2 = null
            if (this.date === this.date2) {
                this.setTimeMin = this.time
            } else {
                this.setTimeMin = null
            }
        },
        formatDate(date) {
            if (!date) return null

            const [year, month, day] = date.split('-')
            return `${day}/${month}/${year}`
        },
        parseDate(date) {
            if (!date) return null

            const [day, month, year] = date.split('/')
            return `${year}-${month.padStart(2, '0')}-${day.padStart(2, '0')}`

        },
        async handleUpdate() {
            if (this.$refs.form.validate()) {
                this.snackbar = true
                if (typeof (this.editGA) === 'object') {
                    this.items.ga = this.editGA._id
                    this.items.campaign_id = this.$route.params.id
                    var create = moment(this.dateFormatStarted, "DD/MM/YYYY").format('MM-DD-YYYY') + ' ' + this.time + ' ' + 'UTC'
                    this.items.started_at = moment(create).toISOString()
                    var expired = moment(this.dateFormatExpired, "DD/MM/YYYY").format('MM-DD-YYYY') + ' ' + this.time2 + ' ' + 'UTC'
                    this.items.expired_at = moment(expired).toISOString()
                    const response = await updateCampaign(this.items)
                    if (response.status === 200) {
                        this.$notify({
                            type: 'success',
                            title: 'Thông báo',
                            text: 'Cập nhật thành công!'
                        });
                    } else {
                        this.$notify({
                            type: 'error',
                            title: 'Thông báo',
                            text: 'Đã có lỗi! Tên có thể đã bị trùng. Hãy đổi tên'
                        });
                    }
                } else {
                    this.$notify({
                        type: 'error',
                        title: 'Thông báo',
                        text: 'GA không tồn tại'
                    });
                }

            }
        },
        async fetchDataDetail() {
            const response = await fetchCampaignDetail(this.$route.params.id)
            this.loading = false
            if (response.status === 200) {
                // call success
                this.items = response.data.data
                if (this.items.active === true) {
                    this.selectActive = 'Hoạt động'
                } else {
                    this.selectActive = 'Tạm dừng'
                }
                if (this.items.updated_by === '') {
                    this.items.updated_by = 'N/A'
                }
                this.date = moment(String(this.items.started_at)).format('YYYY-MM-DD')
                this.date2 = moment(String(this.items.expired_at)).format('YYYY-MM-DD')
                this.time = moment(String(this.items.started_at)).format('HH:mm')
                this.time2 = moment(String(this.items.expired_at)).format('HH:mm')
                this.$forceUpdate()
                this.selectType = this.items.type
                this.editGA = this.items.ga
                this.items.ga = this.items.ga._id
            } else {
                // Co loi xay ra
            }
        },
        async fetchDataCampaign() {
            const response = await fetchData()
            this.loading = false
            if (response.status === 200) {
                // call success
                this.dataCampaign = response.data.data
            } else {
                // Co loi xay ra
            }
        },
        async fetchDataGa() {
            const response = await fetchListPerPage(10, this.ga)
            this.loading = false
            if (response.status === 200) {
                // call success
                this.dataGa = response.data.items
            } else {
                // Co loi xay ra
            }
        },
    },

    beforeMount() {
        this.fetchDataDetail()
        this.fetchDataGa()
        this.fetchDataCampaign()
    },
    watch: {
        selectActive() {
            if (this.selectActive === 'Hoạt động') {
                this.items.active = true
            } else {
                this.items.active = false
            }
        },
        selectType() {
            if (this.selectType === 'tooltip') {
                this.isToolTips = false
            } else {
                this.isToolTips = true
                this.items.position = ''
            }
            this.items.type = this.selectType
        },
        date(val) {
            this.dateFormatStarted = this.formatDate(this.date)
        },
        date2(val) {
            this.dateFormatExpired = this.formatDate(this.date2)
        },
        ga() {
            this.fetchDataGa()
        }
    },

}
</script>

<style lang="scss" scoped>
.route-title {
    margin-left: 10px;
    font-size: 26px;
}

.v-card {
    margin-top: 10px;
}

.title {
    padding-bottom: 10px;
    border-bottom: 1px solid #e2e2e2
}

.v-select-list {
    max-height: 200px;
}
</style>
