<template>
<div class="campaign">
    <v-layout>
        <h2 class="route-title">Campaign</h2>
        <v-spacer />
        <v-text-field v-model="search" prepend-icon="search" label="Search" single-line hide-details class="v-text-field"></v-text-field>
        <v-btn color="info" @click="$router.push({path: '/addNewCampaign'})">
            <v-icon>
                add
            </v-icon>
            Tạo mới
        </v-btn>
    </v-layout>
    <v-card>
        <v-data-table :headers="headers" :items="campaigns" :loading="loading" :custom-sort="customSort" loading-text="Đang tải..." hide-actions pagination.sync.rowsPerPage="10" class="data-table">
            <template v-slot:items="props">
                <td class="text-xs-left " style="width: 22%">
                    <router-link :to="'/editCampaign/' + props.item._id" title="Chi tiết">{{ props.item['name'] }}</router-link>
                </td>
                <td class="text-xs-left " style="width: 15%">{{ props.item['started_at'] | formatDate }}</td>
                <td class="text-xs-left " style="width: 12%">{{ props.item['trial'] | formatTrial }}</td>
                <td class="text-xs-left " style="width: 12%">{{ props.item['url'] | formatService }}</td>
                <td class="text-xs-left " style="width: 12%">{{ props.item['type'] }}</td>
                <td class="text-xs-left " style="width: 12%" v-if="props.item['expired_at'] < dateNow ">
                    {{props.item['active']}}
                </td>
                <td class="text-xs-left " style="width: 15%" v-else>
                    <v-select v-model="props.item['active']" :items="isActive" @change="changeStatus(props.item['_id'],props.item['active'])" style="width:100%; font-size: 13px;"></v-select>
                </td>
                <td class="text-xs-left">
                    <v-icon medium @click="$router.push({path:'/ucByCampaignID/'+props.item._id})" title="Danh sách người dùng">
                        dehaze
                    </v-icon>
                    <v-icon medium style="margin-left: 10px" color="red" title="Xóa" @click="deleteItem(props.item)">
                        delete
                    </v-icon>
                </td>
            </template>
        </v-data-table>
        <v-pagination style="margin-bottom: 10px" v-model="page" :length="totalPage" total-visible="6" :disabled="disablePagination" circle></v-pagination>
    </v-card>
    <notifications />
</div>
</template>

<script>
// @ is an alias to /src
import {
    fetchList,
    fetchData,
    createCampaign,
    deleteCampaign,
    updateCampaign
} from '@/api/campaign'
import moment from 'moment'
import {
    debounce
} from 'lodash'
export default {
    name: 'campaign',
    data() {
        return {
            sort: 'name',
            page: 1,
            headers: [{
                    text: 'Tên quảng cáo',
                    value: 'name',
                },
                {
                    text: 'Ngày bắt đầu',
                    value: 'started_at',
                },
                {
                    text: 'Trial level',
                    value: 'trial',
                },
                {
                    text: 'Dịch vụ quảng cáo',
                    value: 'url',
                },
                {
                    text: 'Loại campaign',
                    value: 'type',
                },
                {
                    text: 'Trạng thái',
                    value: 'active',
                    sortable: false,
                },
                {
                    text: 'Hành động',
                    value: 'action',
                    sortable: false,
                },
            ],
            campaigns: [],
            loading: true,
            campaign_id: '',
            search: '',
            disablePagination: true,
            totalPage: null,
            isActive: [
                'Tạm dừng',
                'Hoạt động'
            ],
            items: {
                active: '',
                campaign_id: '',
            },
            isDisable: '',
            dateNow: new Date().toISOString().substr(0, 10)
        }
    },
    filters: {
        formatDate(value) {
            return moment(String(value) + 'Z').format('DD/MM/YYYY HH:mm')
        },
        formatService(value) {
            if (value === '/iaas-cloud/') {
                return "Cloud Server"
            } else if (value === '/mail-inbox/') {
                return "Mail Inbox"
            } else if (value === '/simple-storage/') {
                return "Simple Storage"
            } else if (value === '/loadbalancers/') {
                return "Load Balancer"
            } else if (value === '/cdn/') {
                return "CDN"
            } else {
                return "VPN"
            }
        },
        formatTrial(value) {
            if (value == '0') {
                return "Not tried"
            } else if (value == '1') {
                return "Trial"
            } else if (value == '2') {
                return "Upgraded"
            } else {
                return "All"
            }
        }
    },
    methods: {
        customSort(items, index, isDescending) {
            if (isDescending) {
                this.sort = '-' + index
            } else if (isDescending == false) {
                this.sort = index
            } else {
                this.sort = null
            }
            return items
        },
        async changeStatus(id, value) {
            this.items.campaign_id = id
            if (value === 'Tạm dừng') {
                this.items.active = false
            } else {
                this.items.active = true
            }
            const response = await updateCampaign(this.items)
            if (response.status === 200) {
                this.$notify({
                    type: 'success',
                    title: 'Thông báo',
                    text: 'Cập nhật trạng thái!'
                });
            } else {
                this.$notify({
                    type: 'error',
                    title: 'Thông báo',
                    text: 'Đã có lỗi!'
                });
            }
        },
        async deleteItem(item) {
            var dialog = confirm('Bạn có muốn xóa không?')
            if (dialog == true) {
                const response = await deleteCampaign(item['_id'])
                this.loading = false
                if (response.status === 204) {
                    setTimeout(() => {
                        this.$notify({
                            type: 'success',
                            title: 'Thông báo',
                            text: 'Xóa thành công!'
                        });
                        this.fetchListCampaign()
                    }, 500)
                } else {
                    this.$notify({
                        type: 'error',
                        title: 'Thông báo',
                        text: 'Đã có lỗi!'
                    });
                }
            } else {}
        },
        beforeDetail(value) {
            this.$router.push({
                name: 'detailCampaign',
                params: {
                    id: value
                }
            })
        },
        async fetchListCampaign() {
            this.loading = true
            const response = await fetchList(this.page, this.search, this.sort)
            this.disablePagination = false
            this.loading = false
            if (response.status === 200) {
                // call success
                this.campaigns = response.data.items
                for (var i = 0; i < this.campaigns.length; i++) {
                    if (this.campaigns[i].expired_at < this.dateNow) {
                        this.campaigns[i].active = 'Hết hạn'
                    } else {
                        if (this.campaigns[i].active === true) {
                            this.campaigns[i].active = 'Hoạt động'
                        } else {
                            this.campaigns[i].active = 'Tạm dừng'
                        }
                    }
                }

                if (response.data.total % 5 > 0) {
                    this.totalPage = parseInt(response.data.total / 5) + 1
                } else {
                    this.totalPage = response.data.total / 5
                }
            } else {
                // Co loi xay ra
            }
        }
    },
    beforeMount() {
        this.fetchListCampaign()
    },
    watch: {
        page() {
            this.fetchListCampaign()
        },
        sort() {
            this.fetchListCampaign()
        },
        selectActive() {
            if (this.selectActive === 'Tạm dừng') {
                this.active = false
            } else {
                this.active = true
            }
        },
        search: _.debounce(function () {
            this.fetchListCampaign()
        }, 500)
    }
};
</script>

<style lang="scss" scoped>
.route-title {
    margin-top: 10px;
    font-size: 26px;
}

.data-table {
    margin-top: 10px;
}

.v-icon {
    font-size: 20px;
    margin: 2px;
}

.layout {
    padding-bottom: 10px;
    border-bottom: 1px solid #e2e2e2
}

.v-pagination {
    margin: 10px 0px;
}

.v-text-field {
    padding-top: 5px;
    margin-right: 20px;
    width: 80px;
}
</style>
