<template>
<div>
    <v-layout class="title">
        <v-icon medium @click="$router.push({name: 'googleanalytics'})" title="Trở về">
            arrow_back
        </v-icon>
        <h2 class="route-title">Tạo mới</h2>
    </v-layout>
    <v-card>
        <v-form ref="form" v-model="valid" lazy-validation>
            <v-container>
                <v-layout>
                    <v-flex xs6>
                        <v-text-field @keyup.enter.native="handleAdd" v-model="data.name" label="Name" :rules="rules.required" required></v-text-field>
                    </v-flex>
                    <v-flex xs6>
                        <v-combobox 
                            v-model="addcn" 
                            :items="campaigns" 
                            label="Campaign Name" 
                            item-text="name" 
                            item-value="name" 
                            :search-input.sync="cn" 
                            no-filter
                            @keyup.enter.native="handleAdd"
                            :rules="rules.required"
                            required>
                        </v-combobox> 
                    </v-flex>
                </v-layout>
                <v-layout>
                    <v-flex xs6>
                        <v-text-field @keyup.enter.native="handleAdd" v-model="data.cm" label="Campaign Medium" :rules="rules.required" required></v-text-field>                                           
                    </v-flex>
                    <v-flex xs6>
                        <v-text-field @keyup.enter.native="handleAdd" v-model="data.cs" label="Campaign Source" :rules="rules.required" required></v-text-field>
                    </v-flex>
                </v-layout>
                <v-layout>
                    <v-flex xs6>
                        <v-text-field @keyup.enter.native="handleAdd" v-model="data.el" label="Event Label" :rules="rules.required" required></v-text-field>
                    </v-flex>
                    <v-flex xs6>
                        <v-text-field @keyup.enter.native="handleAdd" v-model="data.ea" label="Event Action" :rules="rules.required" required></v-text-field>
                    </v-flex>
                </v-layout>
                <v-layout>
                    <v-flex xs6>
                        <v-text-field @keyup.enter.native="handleAdd" v-model="data.ec" label="Event Category" :rules="rules.required" required></v-text-field>
                    </v-flex>
                    <v-flex xs6>
                        <v-text-field @keyup.enter.native="handleAdd" v-model="data.ev" type="number" min="0" label="Event Value" :rules="rules.required" required></v-text-field>
                    </v-flex>
                </v-layout>
                <v-layout>
                    <v-flex xs6>
                        <v-text-field @keyup.enter.native="handleAdd" v-model="data.t" label="Hit Type" :rules="rules.required" required></v-text-field>
                    </v-flex>
                    <v-flex xs6>
                        <v-text-field @keyup.enter.native="handleAdd" v-model="data.tid" label="Tracking ID" :rules="rules.required" required></v-text-field>
                    </v-flex>
                </v-layout>
                <v-layout>
                    <v-flex xs6>
                        <v-text-field @keyup.enter.native="handleAdd" v-model="data.v" type="number" label="Protocol Version" :rules="rules.required" required></v-text-field>
                    </v-flex>
                </v-layout>
                <v-card-actions>
                    <v-spacer/>
                    <v-btn :disabled="!valid" color="info" @click="handleAdd">
                        Tạo
                    </v-btn>
                </v-card-actions>
            </v-container>
        </v-form>
    </v-card>
    <notifications />
</div>
</template>

<script>
import {createGoogleAnalytics} from '@/api/googleanalytics'
import {fetchListPerPage} from '@/api/campaign'

export default {
    data() {
        return {
            data: {
                cm: '',
                cn: '',
                cs: '',
                ea: '',
                ec: '',
                el: '',
                ev: null,
                name: '',
                t: '',
                tid: '',
                v: null,
            },
            valid: true,
            rules: {
                required: [v => !!v || 'Không được bỏ trống trường này!']
            },
            campaigns: [],
            addcn: '',
            cn: ''
        }
    },

    methods: {
        async handleAdd() {
            if (this.$refs.form.validate()) {
                this.snackbar = true
                if(typeof(this.addcn) == 'object') {
                    this.data.cn = this.addcn.name
                    const res = await createGoogleAnalytics(this.data)
                    if (res.status === 201) {
                        setTimeout(() => {
                            this.$notify({
                                type: 'success',
                                title: 'Thông báo',
                                text: 'Thêm mới thành công!'
                            });
                        }, 500)
                        this.$router.push({
                            path: '/editGA/' + res.data._id
                        })
                    } else {
                        this.$notify({
                            type: 'error',
                            title: 'Thông báo',
                            text: 'Đã có lỗi!'
                        })
                    }
                } else {
                    this.$notify({
                            type: 'error',
                            title: 'Thông báo',
                            text: 'Campaign không tồn tại'
                        })
                }
            }
        },

        async fetchListCampaign() {
            const res = await fetchListPerPage(10, this.cn)
            this.campaigns = res.data.items
        }
    },

    watch: {
        cn() {
            this.fetchListCampaign()
        }
    },

    beforeMount() {
        this.fetchListCampaign()
    }
}
</script>

<style lang="scss" scoped>
.route-title {
    margin-left: 10px;
    font-size: 26px;
}

.v-form {
    .container {
        padding-top: 0px;
    }
}

.v-card {
    margin-top: 10px;
    border-radius: 5px;
}

.title {
    padding-bottom: 10px;
    border-bottom: 1px solid #e2e2e2
}
</style>
