<template>
    <div>
        <v-layout class="title">
            <h2 class="route-title">Chi tiết</h2>
        </v-layout>
        <v-card>     
            <v-form ref="form" lazy-validation>
                <v-container>
                    <v-layout>
                        <v-flex xs6>
                            <v-text-field v-model="data.name" label="name" disabled></v-text-field>
                        </v-flex>
                        <v-flex xs6>
                            <v-text-field v-model="data.cm" label="cm" disabled></v-text-field>
                        </v-flex>
                    </v-layout>
                    <v-layout>
                        <v-flex xs6>
                            <v-text-field v-model="data.cn" label="cn" disabled></v-text-field>
                        </v-flex>
                        <v-flex xs6>
                            <v-text-field v-model="data.cs" label="cs" disabled></v-text-field>
                        </v-flex>
                    </v-layout>
                    <v-layout>
                        <v-flex xs6>
                            <v-text-field v-model="data.ea" label="ea" disabled></v-text-field>
                        </v-flex>
                        <v-flex xs6>
                            <v-text-field v-model="data.ec" label="ec" disabled></v-text-field>
                        </v-flex>
                    </v-layout>
                    <v-layout>
                        <v-flex xs6>
                            <v-text-field v-model="data.el" label="el" disabled></v-text-field>
                        </v-flex>
                        <v-flex xs6>
                            <v-text-field v-model="data.ev" type="number" label="ev" disabled></v-text-field>
                        </v-flex>
                    </v-layout>
                    <v-layout>
                        <v-flex xs6>
                            <v-text-field v-model="data.t" label="t" disabled></v-text-field>
                        </v-flex>
                        <v-flex xs6>
                            <v-text-field v-model="data.tid" label="tid" disabled></v-text-field>
                        </v-flex>
                    </v-layout>
                    <v-layout>
                        <v-flex xs6>
                            <v-text-field v-model="data.created" label="created" disabled></v-text-field>
                        </v-flex>
                        <v-flex xs6>
                            <v-text-field v-model="data.created_by" label="created by" disabled></v-text-field>
                        </v-flex>
                    </v-layout>
                    <v-layout>
                        <v-flex xs6>
                            <v-text-field v-model="data.updated" label="updated" disabled></v-text-field>
                        </v-flex>
                        <v-flex xs6>
                            <v-text-field v-model="data.updated_by" label="updated by" disabled></v-text-field>
                        </v-flex>
                    </v-layout>
                    <v-layout>
                        <v-flex xs6>
                            <v-text-field v-model="data.v" type="number" label="v" disabled></v-text-field>
                        </v-flex>
                    </v-layout>

                    <v-btn color="info" @click="$router.push({name: 'googleanalytics'})">
                        Quay lại
                    </v-btn>
                </v-container>
            </v-form>
        </v-card>
    </div>
</template>

<script>
import {updateGoogleAnalytics, fetchDetail} from '@/api/googleanalytics'
import moment from 'moment'

export default {
    data() {
        return {
            data: {}
        }
    },

    beforeMount() {
        fetchDetail(this.$route.params.id)
        .then(res => {
            this.data = res.data.item
            this.data.created = moment(this.data.created).format('MM/DD/YYYY hh:mm')
            if (this.data.updated != '') {
                this.data.updated = moment(this.data.updated).format('MM/DD/YYYY hh:mm')
            } else {
                this.data.updated = this.data.created
            }
        })
    },

    beforeRouteEnter(to, from, next) {
        if(from.name != 'googleanalytics'){
            next({name: 'googleanalytics'})
        } else {
            next()
        }
    }
}
</script>

<style lang="scss" scoped>
.route-title {
    margin-top: 10px;
    font-size: 26px;
}

.v-card {
    margin-top: 10px;
}

.v-form {
    .container {
        padding-top: 0px;
    }
}

.title {
    padding-bottom: 10px;
    border-bottom: 1px solid #e2e2e2
}
</style>
