<template>
<div>
    <v-layout class="title">
        <v-icon medium @click="$router.push({name: 'googleanalytics'})" title="Trở về">
            arrow_back
        </v-icon>
        <h2 class="route-title">Cập nhật</h2>
    </v-layout>
    <v-card>
        <v-form ref="form" v-model="valid" lazy-validation>
            <v-container>
                <v-layout>
                    <v-flex xs6>
                        <v-text-field @keyup.enter.native="handleEdit" v-model="data.name" label="Name" :rules="rules.required" required></v-text-field>
                    </v-flex>
                    <v-flex xs6>
                        <v-combobox 
                            v-model="editcn" 
                            :items="campaigns" 
                            label="Campaign Name" 
                            item-text="name" 
                            item-value="name" 
                            :search-input.sync="cn" 
                            no-filter
                            @keyup.enter.native="handleEdit"
                            :rules="rules.required"
                            required>
                        </v-combobox>
                    </v-flex>
                </v-layout>
                <v-layout>
                    <v-flex xs6>
                        <v-text-field @keyup.enter.native="handleEdit" v-model="data.cm" label="Campaign Medium" :rules="rules.required" required></v-text-field>
                    </v-flex>
                    <v-flex xs6>
                        <v-text-field @keyup.enter.native="handleEdit" v-model="data.cs" label="Campaign Source" :rules="rules.required" required></v-text-field>
                    </v-flex>
                </v-layout>
                <v-layout>
                    <v-flex xs6>
                        <v-text-field @keyup.enter.native="handleEdit" v-model="data.el" label="Event Label" :rules="rules.required" required></v-text-field>
                    </v-flex>
                    <v-flex xs6>
                        <v-text-field @keyup.enter.native="handleEdit" v-model="data.ea" label="Event Action" :rules="rules.required" required></v-text-field>
                    </v-flex>
                </v-layout>
                <v-layout>
                    <v-flex xs6>
                        <v-text-field @keyup.enter.native="handleEdit" v-model="data.ec" label="Event Category" :rules="rules.required" required></v-text-field>
                    </v-flex>
                    <v-flex xs6>
                        <v-text-field @keyup.enter.native="handleEdit" v-model="data.ev" type="number" min="0" label="Event Value" :rules="rules.required" required></v-text-field>
                    </v-flex>
                </v-layout>
                <v-layout>
                    <v-flex xs6>
                        <v-text-field @keyup.enter.native="handleEdit" v-model="data.t" label="Hit Type" :rules="rules.required" required></v-text-field>
                    </v-flex>
                    <v-flex xs6>
                        <v-text-field @keyup.enter.native="handleEdit" v-model="data.tid" label="Tracking ID" :rules="rules.required" required></v-text-field>
                    </v-flex>
                </v-layout>
                <v-layout>
                    <v-flex xs6>
                        <v-text-field v-model="data.created" label="Created" disabled></v-text-field>
                    </v-flex>
                    <v-flex xs6>
                        <v-text-field v-model="data.created_by" label="Created By" disabled></v-text-field>
                    </v-flex>
                </v-layout>
                <v-layout>
                    <v-flex xs6>
                        <v-text-field v-model="data.updated" label="Updated" disabled></v-text-field>
                    </v-flex>
                    <v-flex xs6>
                        <v-text-field v-model="data.updated_by" label="Updated By" disabled></v-text-field>
                    </v-flex>
                </v-layout>
                <v-layout>
                    <v-flex xs6>
                        <v-text-field @keyup.enter.native="handleEdit" v-model="data.v" type="number" label="Protocol Version" :rules="rules.required" required></v-text-field>
                    </v-flex>
                </v-layout>
                <v-card-actions>
                    <v-spacer/>
                    <v-btn :disabled="!valid" color="info" @click="handleEdit">
                        Cập nhật
                    </v-btn>
                </v-card-actions>
            </v-container>
        </v-form>
    </v-card>
    <notifications />
</div>
</template>

<script>
import {updateGoogleAnalytics,fetchDetail} from '@/api/googleanalytics'
import {fetchListPerPage} from '@/api/campaign'
import moment from 'moment'
export default {
    data() {
        return {
            data: {},
            valid: true,
            rules: {
                required: [v => !!v || 'Không được bỏ trống trường này!']
            },
            campaigns: [],
            cn: '',
            editcn: '',
        }
    },

    methods: {
        async handleEdit() {
            if (this.$refs.form.validate()) {
                this.snackbar = true
                if(typeof(this.editcn) == 'object') {
                    this.data.cn = this.editcn.name
                    this.data.ga_id = this.$route.params.id
                    const res = await updateGoogleAnalytics(this.data)
                    if (res.status === 200) {
                        this.$notify({
                            type: 'success',
                            title: 'Thông báo',
                            text: 'Cập nhật thành công!'
                        });
                    } else {
                        this.$notify({
                            type: 'error',
                            title: 'Thông báo',
                            text: 'Đã có lỗi!'
                        });
                    }
                } else {
                    this.$notify({
                        type: 'error',
                        title: 'Thông báo',
                        text: 'Campaign không tồn tại'
                    });
                }
            }
        },

        async fetchListCampaign() {
            const res = await fetchListPerPage(10, this.cn)
            this.campaigns = res.data.items
        }
    },

    watch: {
        cn() {
            this.fetchListCampaign()
        }
    },

    beforeMount() {
        fetchDetail(this.$route.params.id)
            .then(res => {
                this.data = res.data.item
                this.data.created = moment(String(this.data.created)+'Z').format('DD/MM/YYYY HH:mm')
                if (this.data.updated == '') {
                    this.data.updated = 'N/A'
                }
                else{
                  this.data.updated = moment(String(this.data.updated)+'Z').format('DD/MM/YYYY HH:mm')
                }
                if (this.data.created_by == '') {
                    this.data.created_by = 'N/A'
                }
                if (this.data.updated_by == '') {
                    this.data.updated_by = 'N/A'
                }

                this.editcn = this.data.cn
            })
    }
}
</script>

<style lang="scss" scoped>
.route-title {
    margin-left: 10px;
    font-size: 26px;
}

.v-card {
    margin-top: 10px;
    border-radius: 5px;
}

.v-form {
    .container {
        padding-top: 0px;
    }
}

.title {
    padding-bottom: 10px;
    border-bottom: 1px solid #e2e2e2
}
</style>
