<template>
    <div>
        <v-card>
            <div class="box-center">
                <div class="header-card">
                    About me
                </div>
            </div>
            <div class="user-profile">
                <div class="box-center">
                    <pan-thumb 
                        image="https://cdn.itviec.com/employers/vccorp/logo/social/pY59TrN7PQff72x8HnEjkUdN/vccorp-logo.PNG" 
                        height="100px" 
                        width="100px" 
                        :hoverable="false">
                        <div>Hello</div>
                    </pan-thumb>
                </div>
                <div class="box-center">
                    <div class="user-name text-center">{{ user.fullname }}</div>
                </div>
            </div>
        </v-card>
    </div>
</template>

<script>
import PanThumb from './PanThumb.vue'
import { mapGetters } from 'vuex'

export default {
    name: 'UserCard',

    components: {
        PanThumb
    },

    computed: mapGetters({
        user: 'user'
    })
}
</script>

<style lang="scss" scoped>
.header-card{
    margin-top:10px;
    height: 40px;
    font-weight: bold;    
    font-size: 20px;
}

.box-center {
    margin: 0 auto;
    display: table;
}

.user-profile {
    border-top: 1px solid #dfe6ec;
    .user-name {
        margin-top: 20px;
        font-weight: bold;
        font-size: 30px; 
    }

    .box-center {
        padding-top: 10px;
    }
}
</style>
