<template>
    <div class="googleanalytics">
        <v-layout>
            <h2 class="route-title">Google Analytics</h2>
            <v-spacer/>
            <v-text-field
                v-model="search"
                prepend-icon="search"
                label="Search"
                single-line
                class="v-text-field"
                hide-details>
            </v-text-field>
            <v-btn color="info" @click="$router.push({name: 'addGA'})">
                <v-icon>
                    add
                </v-icon>
                Tạo Mới
            </v-btn>
        </v-layout>
        <v-card>
            <v-data-table
                hide-actions=""
                :headers="headers"
                :items="ga"
                :loading="loading"
                loading-text="Đang tải..."
                class="data-table"
                :custom-sort="customSort"
            >
                <template v-slot:items="props">
                    <td class="text-xs-left">
                        <router-link :to="'/editGA/' + props.item._id" title="Chi tiết">
                            {{ props.item['name'] || 'N/A'}}
                        </router-link>
                    </td>
                    <td v-for="header in headers.slice(1, 5)" :key="header.text" class="text-xs-left">
                        {{ props.item[header.value] }}
                    </td>
                    <td class="text-xs-left">
                        {{ props.item['created'] | formatDate}}
                    </td>
                </template>
            </v-data-table>
            <v-pagination
                v-model="page"
                :length="totalPage"
                total-visible="6"
                circle style="margin-bottom: 10px"
                :disabled="loading">
            </v-pagination>
        </v-card>
    </div>
</template>

<script>
import {
    fetchList,
    createGoogleAnalytics,
    updateGoogleAnalytics
} from '@/api/googleanalytics.js'
import moment from 'moment'
import {debounce} from 'lodash'

export default {
    name: 'googleanalytics',
    data() {
        return {
            page: 1,
            ga: [],
            headers: [{
                    text: 'Name',
                    value: 'name'
                },
                {
                    text: 'Campaign Name',
                    value: 'cn'
                },
                {
                    text: 'Campaign medium',
                    value: 'cm'
                },
                {
                    text: 'Event Label',
                    value: 'el'
                },
                {
                    text: 'Hit Type',
                    value: 't'
                },
                {
                    text: 'Created',
                    value: 'created'
                }
            ],
            loading: true,
            totalPage: 0,
            search: '',
            sort: 'name'
        }
    },

    methods: {
        async fetchListGA() {
            this.loading = true
            const response = await fetchList(this.page, this.search, this.sort)
            if (response.status === 200) {
                this.ga = response.data.items
                this.loading = false
                if (response.data.total % 5 > 0) {
                    this.totalPage = parseInt(response.data.total / 5) + 1
                } else {
                    this.totalPage = response.data.total / 5
                }
            } else {
                console.log(error)
            }
            this.loading = false
        },

        beforeEdit(value) {
            this.$router.push({
                name: 'editGA',
                params: {
                    id: value['_id']
                }
            })
        },

        beforeDetail(value) {
            this.$router.push({
                name: 'detailGA',
                params: {
                    id: value['_id']
                }
            })
        },

        customSort(items, index, isDescending) {
            if(isDescending) {
                this.sort = '-' + index
            } else if (isDescending == false){
                this.sort = index
            } else {
                this.sort = null
            }
            return items
        }
    },

    beforeMount() {
        this.fetchListGA()
    },

    filters: {
        formatDate(value) {
            if(value == '') {
                return 'N/A'
            } else {
                return moment(String(value)+'Z').format('DD/MM/YYYY')
            }
        }
    },

    watch: {
        page() {
            this.fetchListGA()
        },

        search: _.debounce(function () {this.fetchListGA()}, 500),

        sort() {
            this.fetchListGA()
        }
    }
}
</script>

<style lang="scss" scoped>
.route-title {
    margin-top: 10px;
    font-size: 26px;
}

.data-table {
    margin-top: 10px;
}

.v-icon {
    font-size: 20px;
    margin: 2px;
}

.layout {
    padding-bottom: 10px;
    border-bottom: 1px solid #e2e2e2
}

.v-pagination {
    margin: 10px 0px;
}

.v-text-field{
  padding-top: 5px;
  margin-right: 20px;
  width: 80px;
}
</style>
