<template>
  <div class="home">
    <v-data-table
     :headers="headers"
     :items="campaigns"
     :loading="loading"
     class="elevation-1"
   >
     <template v-slot:items="props">
       <td v-for="header in headers" :key="header" class="text-xs-left">
         <span v-if="header.value === 'description'">
           <img :src="props.item[header.value]" width="50px" height="50px">
         </span>
         <span v-else>
           {{ props.item[header.value] }}
         </span>
       </td>
     </template>
   </v-data-table>
  </div>
</template>

<script>
// @ is an alias to /src
import {fetchList} from '@/api/campaign'

export default {
  name: 'home',

  data () {
    return {
      headers: [
          {
            text: 'Tên quảng cáo',
            align: 'left',
            sortable: false,
            value: 'name'
          },
          { text: 'Mô tả', value: 'description' },
          { text: 'Thời gian bắt đầu', value: 'startTime' },
          { text: 'Thời gian kết thúc', value: 'endTime' },
          { text: 'Ngày tạo', value: 'createdAt' }
      ],
      campaigns: [],
      loading: true
    }
  },

  methods: {
    async fetchListCampaign () {
      const response = await fetchList()
      this.loading = false
      if (response.status === 200) {
        // call success
        this.campaigns = response.data
      } else {
        // Co loi xay ra
      }
    }
  },

  beforeMount () {
    this.fetchListCampaign()
  }
};
</script>