<template>
    <div class="loading">
        <v-progress-circular
            indeterminate
            color="primary"
            size="150"
            width="10">
        </v-progress-circular>
    </div>
</template>

<style lang="scss" scoped>
.loading {
    margin: auto;
}
</style>

