<template>
    <div class="user">
        <v-layout class="title">
            <h2 class="route-title">Report</h2>
            <v-spacer/>
            <v-dialog v-model="dialog" max-width="500px" persistent>
                <template v-slot:activator="{ on }">
                    <v-btn color="info" v-on="on" @click="dialog = !dialog">
                        <v-icon>
                            build
                        </v-icon>
                        Tùy chọn
                    </v-btn>
                </template>
                <v-card>
                    <v-card-title>
                        <span class="headline">Tùy chọn</span>
                    </v-card-title>
                    <v-card-text>
                        <v-form ref="form" v-model="valid" lazy-validation>
                            <v-container>
                                <v-combobox
                                    v-model="category"
                                    :items="dataGa"
                                    label="Event Category"
                                    item-text="ec"
                                    item-value="ec"
                                    :search-input.sync="ga"
                                    no-filter
                                    :rules="rules.required"
                                    required>
                                </v-combobox>
                                <v-layout>
                                    <v-flex xs6>
                                        <v-menu ref="start_menu" v-model="start_menu" :close-on-content-click="false" :nudge-right="40" lazy transition="scale-transition" offset-y>
                                                <template v-slot:activator="{ on }">
                                                    <v-text-field readonly v-model="start_date" label="Ngày bắt đầu" @blur="dateS = parseDate(start_date)" v-on="on"></v-text-field>
                                                </template>
                                                <v-date-picker v-model="dateS" no-title @input="start_menu = false" :max="today"></v-date-picker>
                                        </v-menu>
                                    </v-flex>
                                    <v-flex xs6>
                                        <v-menu ref="end_menu" v-model="end_menu" :close-on-content-click="false" :nudge-right="40" lazy transition="scale-transition" offset-y>
                                                <template v-slot:activator="{ on }">
                                                    <v-text-field readonly v-model="end_date" label="Ngày kết thúc" @blur="dateE = parseDate(end_date)" v-on="on"></v-text-field>
                                                </template>
                                                <v-date-picker v-model="dateE" no-title @input="end_menu = false" :max="today" :min="dateS"></v-date-picker>
                                        </v-menu>
                                    </v-flex>
                                </v-layout>
                            </v-container>
                        </v-form>
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer/>
                        <v-btn @click="handleBack()" color="info" flat>Quay lại</v-btn>
                        <v-btn @click="handleConfig()" color="info" flat :disabled="!valid">Xác nhận</v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </v-layout>
        <v-card class="chart-container" v-show="config">
            <chart v-model="report"/>
        </v-card>
        <notifications />
    </div>
</template>

<script>
import chart from './Components/Chart.vue'
import {fetchListByEC} from '@/api/googleanalytics'
import moment from 'moment'

export default {
    name: 'report',
    
    components: {
        chart
    },

    data() {
        return {
            report: {
                event_category: null,
                start_date: null,
                end_date: null
            },
            rules: {
                required: [v => !!v || 'Không được bỏ trống trường này!']
            },
            valid: true,
            dialog: true,
            dataGa: [],
            ga: '',
            category: '',
            start: null,
            end: null,
            start_menu: false,
            end_menu: false,
            dateS: null,
            dateE: null,
            start_date: null,
            end_date: null,
            today: null,
            config: false,
            back: null
        }   
    },

    methods: {
        async fetchDataGa() {
            const res = await fetchListByEC(this.ga)
            this.dataGa = res.data.items
            if(this.dataGa.length == 0) {
                this.valid = false
            } else {
                this.valid = true
            }
        },

        handleConfig() {
            if(this.$refs.form.validate()) {
                this.snackbar = true
                this.report.event_category = this.category.ec
                if(this.report.event_category == null) {
                    this.$notify({
                        type: 'error',
                        title: 'Thông báo',
                        text: 'EC không tồn tại'
                    });
                } else {
                    this.report.start_date = this.dateS
                    this.report.end_date = this.dateE
                    this.dialog = false
                    this.config = true
                }
            }
        },

        handleBack() {
            if(this.config != true) {
                if(this.back != null){
                    this.$router.push({path: this.back})
                } else {
                    this.$router.push({path: '/'})
                } 
            } else {
                this.dialog = false
            }
        },

        parseDate(date) {
            if (!date) return null
            const [day,  month,  year] = date.split('/')
            return `${year}-${month.padStart(2, '0')}-${day.padStart(2, '0')}`
        },

        formatDate(date) {
            if (!date) return null
            const [year, month, day] = date.split('-')
            return `${day}-${month}-${year}`
        },
    },

    watch: {
        ga() {
            this.fetchDataGa()
        },

        dateS() {
            this.start_date = this.formatDate(this.dateS)
            this.dateE = null
        },

        dateE() {
            this.end_date = this.formatDate(this.dateE)
        }
    },

    beforeMount() {
        this.fetchDataGa()
        this.today = moment(new Date()).format('YYYY-MM-DD')
    },
    
    beforeRouteEnter(to, from ,next) {
        next(to => {
            to.back = from.path
        })
    }
}
</script>

<style lang="scss" scoped>
.route-title {
    margin-top: 10px;
    font-size: 26px;
}

.title {
    padding-bottom: 10px;
    border-bottom: 1px solid #e2e2e2
}

.v-icon {
    font-size: 20px;
    margin: 2px;
}

.chart-container {
    margin-top: 10px;
    padding-top: 10px;
    height: 410px;
}
</style>
