<template>
<div>
    <v-layout class="title">
        <h2 class="route-title">Chi tiết</h2>
        <v-spacer />
        <v-icon medium @click="$router.push({path: '/'})">
            subdirectory_arrow_left
        </v-icon>
    </v-layout>
    <v-card>
        <v-tabs>
            <v-form ref="form" lazy-validation>
                <v-container>
                    
                </v-container>
            </v-form>
        </v-tabs>
    </v-card>
</div>
</template>

<script>

import moment from 'moment'
export default {
    data: () => ({
        loading: true,
        showUrl: '',
        showTrial: '',
        items: {
            name: '',
            type: null,
            content: '',
            url: null,
            trial: '',
            started_at: '',
            expired_at: '',
            show_in_el: '',
            position: '',
            close_content: '',
            ga: '',
            created_by: '',
            updated_by: ''
        },
    }),
    methods: {
        async fetchDataDetail() {
            const response = await fetchCampaignDetail(this.$route.params.id)
            this.loading = false
            if (response.status === 200) {
                // call success
                this.items = response.data.data
                console.log(response.data.data)
                this.items.started_at = moment(String(this.items.started_at)).format('DD/MM/YYYY HH:mm')
                this.items.expired_at = moment(String(this.items.expired_at)).format('DD/MM/YYYY HH:mm')
                if (this.items.url === '/iaas-cloud/') {
                    this.showUrl = 'Cloud Server'
                } else if (this.items.url == '/mail-inbox/') {
                    this.showUrl = "Mail Inbox"
                } else if (this.items.url == '/simple-storage/') {
                    this.showUrl = 'Simple Storage'
                } else if (this.items.url == '/loadbalancers/') {
                    this.showUrl = 'Load Balancer'
                } else if (this.items.url == '/cdn/') {
                    this.showUrl = "CDN"
                } else {
                    this.showUrl = "VPN"
                }
                if (this.items.trial == '0') {
                    this.showTrial = "Not tried"
                } else if (this.items.trial == '1') {
                    this.showTrial = "Trial"
                } else if (this.items.trial == '2') {
                    this.showTrial = "Upgraded"
                } else {
                    this.showTrial = "All"
                }
                if (this.items.ga.name == '') {
                    this.items.ga.name = "N/A"
                }
                if (this.items.created_by == '') {
                    this.items.created_by = "N/A"
                }
                if (this.items.updated_by == '') {
                    this.items.updated_by = "N/A"
                }
            } else {
                // Co loi xay ra
            }
        },
    },

    beforeMount() {
        this.fetchDataDetail()
    },

}
</script>

<style lang="scss" scoped>
.route-title {
    margin: auto;
    font-size: 26px;
}

.v-card {
    margin-top: 10px;
}

.title {
    padding-bottom: 10px;
    border-bottom: 1px solid #e2e2e2
}
</style>
