<template>
    <div class="user-by-campaign-id">
        <v-layout>
             <v-icon medium @click="$router.push({path: '/'})">
              arrow_back
            </v-icon>
            <h2 class="route-title">Users</h2>
        </v-layout>
        <v-card>
            <v-data-table
                :headers="headers"
                :items="users"
                :loading="loading"
                hide-actions
                class="data-table"
            >
                <template v-slot:items="props">
                    <td class="text-xs-left">
                        {{ props.item['user'].email }}
                    </td>
                    <td class="text-xs-left">
                        {{ props.item['user'].tenant_id}}
                    </td>
                    <td class="text-xs-left">
                        {{ props.item['user'].created | formatDate}}
                    </td>
                    <td class="text-xs-left">
                        {{ props.item['user'].updated | formatDate}}
                    </td>
                </template>
            </v-data-table>

            <v-pagination
                v-model="page"
                :length="length"
                :disabled="disablePagination"
                total-visible="8"
                circle>
            </v-pagination>
        </v-card>
    </div>
</template>

<script>
import {fetchListByCampaignID} from '@/api/usercampaign'
import moment from 'moment'

export default {
    name: 'usByCampaignID',
    data() {
        return {
            loading: true,
            disablePagination: true,
            users: [],
            headers: [{
                    text: 'Email',
                    value: 'email'
                },
                {
                    text: 'Tenant id',
                    value: 'tenant_id'
                },
                {
                    text: 'Ngày tạo',
                    value: 'created'
                },
                {
                    text: 'Ngày cập nhật',
                    value: 'updated'
                },
            ],
            loading: true,
            page: 1,
            length: null
        }
    },
    methods: {
        async fetchListUsers() {
            this.loading = true
            const res = await fetchListByCampaignID(this.$route.params.id,this.page)
            this.loading = false
            this.disablePagination = false
            this.users = res.data.items
            if(res.data.total%5 > 0){
                this.length = parseInt(res.data.total/5) + 1
            } else {
                this.length = parseInt(res.data.total/5)
            }
            this.loading = false
        }
    },

    beforeMount() {
        this.fetchListUsers()
    },

    filters: {
        formatDate(value) {
            return moment(String(value)+'Z').format('MM/DD/YYYY HH:mm')
        }
    },

    watch: {
        page() {
            this.fetchListUsers()
        }
    }
}
</script>

<style lang="scss" scoped>
.route-title {
    margin-left: 10px;
    font-size: 26px;
}

.data-table {
    margin-top: 10px;
}

.v-icon {
    font-size: 20px;
    margin: 2px;
}

.layout {
    padding-bottom: 10px;
    border-bottom: 1px solid #e2e2e2
}

.v-pagination {
    margin-bottom: 10px;
}
</style>
