<template>
    <div class="user-campaign">
        <v-layout>
            <h2 class="route-title">{{ email }}</h2>
            <v-spacer />
            <v-dialog v-model="dialog" max-width="500px">
                <template v-slot:activator="{ on }">
                    <v-btn color="info" v-on="on" @click="beforeAdd">
                        <v-icon>
                            add
                        </v-icon>
                        Tạo Mới
                    </v-btn>
                </template>
                <v-card>
                    <v-card-title>
                        <span class="headline">Tạo User Campaign</span>
                    </v-card-title>
                    <v-card-text>
                        <v-combobox 
                            v-model="addID" 
                            :items="campaigns" 
                            label="Tên Campaign" 
                            item-text="name" 
                            item-value="name" 
                            placeholder="Nhập để tìm Campaign"
                            :search-input.sync="addCampaign" 
                            no-filter
                            @keyup.enter.native="addUC(data)">
                        </v-combobox>
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer/>
                        <v-btn @click="dialog = false" color="info" flat >Đóng</v-btn>
                        <v-btn @click="addUC(data)" color="info" flat :disabled="!validadd">Tạo</v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </v-layout>
        <v-card>
            <v-data-table 
                :headers="headers" 
                :items="uc" 
                :loading="loading" 
                class="data-table">
                <template v-slot:items="props">
                    <td class="text-xs-left"><router-link :to="'/editCampaign/' + props.item['campaign']._id" title="Chi tiết Campaign">{{ props.item['campaign'].name || 'N/A'}}</router-link></td>
                    <td class="text-xs-left">{{ props.item['created'] | formatDate }}</td>
                    <td class="text-xs-left">{{ props.item['created_by'] || 'N/A' }}</td>
                    <td class="text-xs-left">{{ props.item['updated'] | formatDate }}</td>
                    <td class="text-xs-left">{{ props.item['updated_by'] || 'N/A' }}</td>
                    <td class="text-xs-left">
                        <v-select v-model="props.item['status']" :items="status" item-text="name" item-value="value" @change="changeStatus(props.item['_id'], props.item['status'])"></v-select> 
                    </td>
                </template>
            </v-data-table>
        </v-card>

        <notifications />
    </div>
</template>

<script>
import {fetchListByUserID, updateStatus, createUC} from '@/api/usercampaign'
import {fetchData, fetchListPerPage} from '@/api/campaign'
import {findUser} from '@/api/user'
import moment from 'moment'
import { fips } from 'crypto';
export default {
    name: 'campaign',
    data() {
        return {
            dialog: false,
            headers: [{
                    text: 'Tên quảng cáo',
                    //sortable: false,
                    value: 'name'
                },
                {
                    text: 'Ngày tạo',
                    value: 'created'
                },
                {
                    text: 'Người tạo',
                    value: 'created_by'
                },
                {
                    text: 'Ngày cập nhật',
                    value: 'updated'
                },
                {
                    text: 'Người cập nhật',
                    value: 'updated_by'
                },
                {
                    text: 'Trạng thái',
                    sortable: false,
                    value: 'status'
                }
            ],
            email: '',
            status: [],
            uc: [],
            loading: true,
            data: {
                user_id: this.$route.params.id,
                campaign_id: ''
            },
            campaigns: [],
            addCampaign: '',
            addID: '',
            validadd: false
        }
    },
    filters: {
        formatDate(value) {
            if(value == '') {
                return 'N/A'
            } else {
                return moment(String(value)+'Z').format('DD/MM/YYYY HH:mm')
            }
        },
    },
    methods: {
        async fetchListUC() {
            const response = await fetchListByUserID(this.$route.params.id)
            if (response.status === 200) {
                // call success
                this.uc = response.data.data
                this.loading = false
            } else {
                // Co loi xay ra
            }
        },

        async fetchStatus() {
            const response = await fetchData()
            this.status = response.data.data.user_campaign_status
        },

        async changeStatus(id, value) {
            const response = await updateStatus(id, {status: value})
            if (response.status === 200) {
                this.$notify({
                    type: 'success',
                    title: 'Thông báo',
                    text: 'Cập nhật trạng thái!'
                });
            } else {
                this.$notify({
                    type: 'error',
                    title: 'Thông báo',
                    text: 'Đã có lỗi!'
                });
            }
        },

        async beforeAdd() {
            const res = await fetchListPerPage(10, '')
            this.campaigns = res.data.items
            this.addCampaign = ''
            this.addID = ''
        },

        async searchCampaign() {
            const res = await fetchListPerPage(10, this.addCampaign)
            this.campaigns = res.data.items
            if(this.campaigns.length == 0) {
                this.validadd = false
            } else {
                this.validadd = true
            }
        },

        async addUC(data) {
            data.campaign_id = this.addID._id
            if(data.campaign_id == null) {
                this.$notify({
                    type: 'error',
                    title: 'Thông báo',
                    text: 'Đã có lỗi!'
                });
            } else {
                const res = await createUC(data)
                if (res.status === 200) {
                    this.dialog = false
                    this.$notify({
                        type: 'success',
                        title: 'Thông báo',
                        text: 'Thêm mới thành công!'
                    });
                    this.fetchListUC()
                } else {
                    this.$notify({
                        type: 'error',
                        title: 'Thông báo',
                        text: 'Đã có lỗi!'
                    });
                }
            }
        },

        async getEmail() {
            const res = await findUser(this.$route.params.id)
            this.email = res.data.items[0].email
        }
    },

    watch: {
        addCampaign() {
            this.searchCampaign()
        }
    },

    beforeMount() {
        this.getEmail()
        this.fetchStatus()
        this.fetchListUC()
    }
};
</script>

<style lang="scss" scoped>
.route-title {
    margin-top: 10px;
    font-size: 26px;
}

.data-table {
    margin-top: 10px;
}

.v-icon {
    font-size: 20px;
    margin: 2px;
}

.layout {
    padding-bottom: 10px;
    border-bottom: 1px solid #e2e2e2
}

.v-select {
    font-size: 13px;
}

.v-select-list {
    max-height: 200px;
}
</style>
