<template>
<div>
    <v-container>
        <v-layout row>
            <v-flex xs12 style="padding: 0px 5px">
                <UserCard></UserCard>
            </v-flex>
        </v-layout>
    </v-container>
</div>
</template>

<script>
import UserCard from './component/UserCard'

export default {
    name: 'profile',
    components: {
        UserCard,
    },
}
</script>

<style scoped>
.container {
    padding: 0px;
}
</style>
