<template>
    <div class="user">
        <v-layout>
            <h2 class="route-title">Users</h2>
            <v-spacer/>
            <v-text-field
                v-model="search"
                prepend-icon="search"
                label="Search"
                single-line
                hide-details>
            </v-text-field>
        </v-layout>
        <v-card>
            <v-data-table
                :headers="headers"
                :items="users"
                :loading="loading"
                hide-actions
                class="data-table"
                :custom-sort="customSort"
            >
                <template v-slot:items="props">
                    <td class="text-xs-left">
                        <router-link :to="'/uc/' + props.item._id" title="Danh sách Campaigns">
                            {{ props.item['email'] }}
                        </router-link>
                    </td>
                    <td class="text-xs-left">
                        {{ props.item['tenant_id']}}
                    </td>
                    <td class="text-xs-left">
                        {{ props.item['created'] | formatDate}}
                    </td>
                    <td class="text-xs-left">
                        {{ props.item['updated'] | formatDate}}
                    </td>
                </template>
            </v-data-table>

            <v-pagination
                v-model="page"
                :length="length"
                total-visible="8"
                :disabled="loading"
                circle>
            </v-pagination>
        </v-card>
    </div>
</template>

<script>
import {fetchList} from '@/api/user'
import moment from 'moment'
import {debounce} from 'lodash'

export default {
    name: 'users',

    data() {
        return {
            users: [],
            search: '',
            headers: [{
                    text: 'Email',
                    value: 'email'
                },
                {
                    text: 'Tenant id',
                    sortable: false,
                    value: 'tenant_id'
                },
                {
                    text: 'Ngày tạo',
                    value: 'created'
                },
                {
                    text: 'Ngày cập nhật',
                    value: 'updated'
                },
            ],
            loading: true,
            page: 1,
            length: null,
            sort: 'email'
        }
    },

    methods: {
        async fetchListUsers() {
            this.loading = true
            const res = await fetchList(this.page, this.search, this.sort)
            this.users = res.data.items
            if(res.data.total%5 > 0){
                this.length = parseInt(res.data.total/5) + 1
            } else {
                this.length = parseInt(res.data.total/5)
            }
            this.loading = false
        },

        customSort(items, index, isDescending) {
            if(isDescending) {
                this.sort = '-' + index
            } else if (isDescending == false){
                this.sort = index
            } else {
                this.sort = null
            }
            return items
        }
    },

    beforeMount() {
        this.fetchListUsers()
    },

    filters: {
        formatDate(value) {
            if(value == ''){
                return 'N/A'
            } else {
                return moment(String(value)+'Z').format('DD/MM/YYYY HH:mm')
            }        
        }
    },

    watch: {
        page() {
            this.fetchListUsers()
        },

        search: _.debounce(function () {
            this.page = 1
            this.fetchListUsers()
            }, 500),

        sort() {
            this.fetchListUsers()
        }
    }
}
</script>

<style lang="scss" scoped>
.route-title {
    margin-top: 10px;
    font-size: 26px;
}

.data-table {
    margin-top: 10px;
}

.v-icon {
    font-size: 20px;
    margin: 2px;
}

.layout {
    padding-bottom: 10px;
    border-bottom: 1px solid #e2e2e2
}

.v-pagination {
    margin: 10px 0px;
}

.spacer {
    width: 45%;
}

.v-text-field{
  padding-top: 5px;
  width: 80px;
}
</style>
