<template>
  <div id="app">
    <v-app v-if="isLoading == false">
      <router-view></router-view>
    </v-app>
    <v-app v-else>
      <Loading></Loading>
    </v-app>
</div>
</template>
<script>
import {fetchData} from './api/campaign.js'
import Loading from './views/Loading.vue'

export default {
  name:'app',

  data() {
    return {
      isLoading: true,
    }
  },

  beforeMount() {
    fetchData()
    this.isLoading = false
  },

  components: {
    Loading
  }
}
</script>

<style lang="scss">
.application {
  font-family: 'Open Sans',sans-serif;
}
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  height: 100%;
}
#nav {
  padding: 30px;
  a {
    font-weight: bold;
    color: #2c3e50;
    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
body {
  min-height: 100vh;
  margin: 0;
  overflow: hidden;
}

a {
  text-decoration: none;
}

.v-btn {
  border-radius: 5px;
}
</style>
