<template>
  <div id="chartcontainer" ref="chartcontainer">
    <div v-if="loading" class="loading-container">
      <v-progress-circular
        indeterminate
        color="primary"
        size="150"
        width="10">
      </v-progress-circular>
    </div>
    <div :id="id" :class="className" :style="{height: height, width: width}"/>
  </div>
</template>

<script>
import echarts from 'echarts'
import {fetchData} from '@/api/chart.js'
import moment from 'moment'
import {debounce} from 'lodash'

export default {
  name: 'chart',
  props: {
    value: {
      type: Object
    },
    className: {
      type: String,
      default: 'chart'
    },
    id: {
      type: String,
      default: 'chart'
    },
    height: {
      type: String,
      default: '400px'
    },
    width: {
      type: String,
      default: '100%'
    },
  },
  data() {
    return {
      chart: null,
      loading: false,
    }
  },
  watch: {
    value: {
      handler: function (val, oldVal) {
        // Return the object that changed
        this.initChart()
      },
      deep: true
    },
  },
  created() {
    this.handleResize = _.debounce(() => {
      if(this.chart) {
        this.chart.resize()
      }
    }, 100)
    window.addEventListener("resize", this.handleResize)
  },
  destroyed() {
    window.removeEventListener("resize", this.handleResize)
  },
  beforeDestroy() {
    if (!this.chart) {
      return
    }
    this.chart.dispose()
    this.chart = null
  },
  methods: {
    formatDate(value) {
      return  value.slice(6) + '-' + value.slice(4,6) + '-' + value.slice(0, 4)
    },

    async initChart() {
      this.loading = true
      if (this.chart) {
        this.chart.dispose()
        this.chart = null
      }
      this.chart = echarts.init(document.getElementById(this.id))

      const res = await fetchData(this.value.event_category, this.value.start_date, this.value.end_date)
      const info = res.data.data.reports[0].data
      var xAxisData = []
      var data = []
      var enabledSymbol = true

      if(res.data.data.reports[0].data.totals[0].values[0] != "0") {
        xAxisData = Array.from(info.rows, v => this.formatDate(v.dimensions[1]))
        data = Array.from(info.rows, v => v.metrics[0].values[0])
        if(data.length > 10) {
          enabledSymbol = false
        } else {
          enabledSymbol = true
        }
      } else {
        enabledSymbol = false
        if(this.value.end_date == null && this.value.start_date == null) {
          var date = new Date()
          date = new Date(date.setDate(date.getDate() - 7))
          for(var i = 0; i < 7; i++) {
            var setDate = new Date(date.setDate(date.getDate() + 1))
            xAxisData.push(moment(setDate).format('DD-MM-YYYY'))
            data.push(0)
          }
        } else if (this.value.end_date == null && this.value.start_date != null) {
          var start = moment(new Date(String(this.value.start_date)))
          var end = moment(new Date())
          var diff = end.diff(start, 'days')
          for(var i = 0; i <= diff; i++) {
            start = new Date(String(this.value.start_date))
            var setDate = new Date(start.setDate(start.getDate() + i))
            xAxisData.push(moment(setDate).format('DD-MM-YYYY'))
            data.push(0)
          }
        } else if (this.value.end_date != null && this.value.start_date == null) {
          var end = new Date(String(this.value.end_date))
          end = new Date(end.setDate(end.getDate() - 7))
          for(var i = 0; i < 7; i++) {
            var setDate = new Date(end.setDate(end.getDate() + 1))
            xAxisData.push(moment(setDate).format('DD-MM-YYYY'))
            data.push(0)
          }
        } else {
          var start = moment(new Date(String(this.value.start_date)))
          var end = moment(new Date(String(this.value.end_date)))
          var diff = end.diff(start, 'days')
          for(var i = 0; i <= diff; i++) {
            start = new Date(String(this.value.start_date))
            var setDate = new Date(start.setDate(start.getDate() + i))
            xAxisData.push(moment(setDate).format('DD-MM-YYYY'))
            data.push(0)
          }
        }
      }
      this.loading = false
      
      this.chart.setOption({
        title: {
          left: 'center',
          text: this.value.event_category.toUpperCase(),
        },
        grid: {
          left: '5%',
          right: '5%',
        },
        xAxis: {
          // show: false,
          boundaryGap: false,
          data: xAxisData
        },
        yAxis: {
          axisLine: {
            show: false
          },
          axisLabel: {
            textStyle: {
              color: '#4a657a'
            }
          },
          splitLine: {
            show: true,
            lineStyle: {
              color: '#08263f'
            }
          },
          axisTick: {
            show: false
          }
        },
        tooltip: {
          trigger: 'axis',
        },
        series: {
          name: this.value.event_category,
          type: 'line',
          data,
          smooth: true,
          // large: true,
          symbolSize: 10,
          symbol: 'circle',
          showSymbol: enabledSymbol,
          lineStyle: {
            color: '#2196f3'
          },
          itemStyle: {
            color: '#3a88c0'
          }
        },
        animationEasing: 'elasticOut',
        animationEasingUpdate: 'elasticOut',
        animationDelay(idx) {
          return idx * 20
        },
        animationDelayUpdate(idx) {
          return idx * 20
        }
      })
    }
  },
}
</script>

<style lang="scss" scoped>
.loading-container {
  margin-top: 120px;
}
</style>

