<template>
<v-app id="inspire">
    <top-bar v-model="app"/>
    <side-left :items="items" v-model="app"/>
    <v-content>
      <v-container fluid>
        <transition name="fade" mode="out-in">
          <router-view/>
        </transition>
      </v-container>
    </v-content>
</v-app>
</template>
<script>
 import SideLeft from './components/SideLeft'
 import TopBar from './components/TopBar'
export default {
  components: {
    SideLeft,
    TopBar
  },
  data () {
    return {
      app: {
          drawer: true,
      },
      items: [
        //{ icon: 'dashboard', text: 'Dashboard', path: '/dashboard'},
        { icon: 'blur_on', text: 'Campaigns', path: '/'},
        { icon: 'view_carousel', text: 'Google Analytics', path: '/googleanalytics'},
        { icon: 'person', text: 'Users', path: '/users'},
        { icon: 'bar_chart', text: 'Report', path: '/report'}
      ]
    }
  }
}
</script>

<style lang="scss" scoped>
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.25s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
</style>
